.mainContent {
    padding: 10px 15px;
    .singlePost {
        h3 {
            text-transform: capitalize;
            font-size: 24px;
        }
        p {
            color: #3a3a3a;
        }
    }
}