.single-service {
    transition: all .2s linear;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    border-radius: 4px;
    text-align: center;
    position: relative;
    top: 0;
    h5 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    p {}
    .service-title {
        text-transform: capitalize;
        font-weight: 600;
        color: #000;
        margin-bottom: 11px;
        font-size: 24px;
    }
    &:hover {
        top: -5px;
    }
}